.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
}

.Terminal { grid-area: 2 / 4 / 3 / 5; }

.l476 { grid-area: 1 / 1 / 2 / 2; }

.l479 { grid-area: 1 / 2 / 2 / 3; }

.l482 { grid-area: 1 / 3 / 2 / 4; }

.l485 { grid-area: 1 / 4 / 2 / 5; }

.l487 { grid-area: 1 / 5 / 2 / 6; }

.l490 { grid-area: 1 / 6 / 2 / 7; }

.l477 { grid-area: 2 / 1 / 3 / 2; }

.l480 { grid-area: 2 / 2 / 3 / 3; }

.l483 { grid-area: 2 / 3 / 3 / 4; }

.l488 { grid-area: 2 / 5 / 3 / 6; }

.l491 { grid-area: 2 / 6 / 3 / 7; }

.l478 { grid-area: 3 / 1 / 4 / 2; }

.l481 { grid-area: 3 / 2 / 4 / 3; }

.l484 { grid-area: 3 / 3 / 4 / 4; }

.l486 { grid-area: 3 / 4 / 4 / 5; }

.l489 { grid-area: 3 / 5 / 4 / 6; }

.l492 { grid-area: 3 / 6 / 4 / 7; }
